<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestNGXMLTest Test Suite" parallel="classes">
	<test thread-count="5" name="OrangeHRM Test" verbose="5">
		<classes>
			<class name="com.qa.InternetProject.Runner.TestRunner" />
		</classes>
	</test>
</suite>